.btn {
    background-color: unset;
    border: none;
}

.btn-1 {
    color: white;
    background: unset;
    border: 2px solid #ffff;
    transition: background 1s;
}

.btn-1:hover,
.btn-1:focus {
    background: red;
}

/* Botão subscribe navbar */

.btn-1 a svg {
    width: 1rem;
}

.btn-1 a {
    font-size: 1rem;
}
