/*###### Botão ######*/
.dropdown-btn {
    font-size: 1.1rem;
    font-weight: 700;
    text-align: left;
    display: flex;

    background-color: unset;
    color: var(--color-primary);;
    
    padding: 0.375rem 0.75rem 0.375rem 0;
    
    border: none;
    cursor: pointer;
}

.dropdown-btn-mobile {
    width: 2.8125rem;
    display: none;

    background-color: unset;
    color: var(--color-primary);;
    
    padding: 0.375rem;
    border: none;
    cursor: pointer;
}

.dropdown-btn svg {
    width: 0.9375rem;
    padding: 0 0 0 0.625rem;
}

.hamburger-icon {
    color: var(--color-primary) !important;
}

.dropdown-btn:hover,
.dropdown-btn-mobile:hover .dropbtn:focus {
    color: rgb(255, 255, 255);
}

.dropdown {
    width: 7.1575rem;
    position: relative;
    display: inline-block;
    align-self: center;
    margin-left: -5px;
}

/*###### Links ######*/
.dropdown-category {

    display: none;
    background-color: #fff;

    padding: 2rem 2.5rem;
    margin-top: 1.5rem;
    overflow: auto;
    position: absolute;
    
    border-radius: 0 3rem 3rem 3rem;
    z-index: 1;
}

.dropdown-category h3 {
    color: var(--font-color-text);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1.375rem;
}

.dropdown-category a {
    width: max-content;
    font-size: 1rem;
    font-weight: 700;
    color: var(--font-color-text);
    
    display: block;
    text-decoration: none;

    margin-right: 1.25rem;
    margin-bottom: 1rem;
    
    background-image: linear-gradient(90deg, var(--color-secondary), var(--color-secondary));
    background-repeat: no-repeat;
    background-size: 0% 1px;
    background-position: left bottom;
    transition: background-size 1s ease;
    cursor:pointer;
}

.dropdown-category a:hover {
    width: max-content;
    color: var(--color-secondary);
    transition: 1s;
    background-size: 100% 1px;
}

.dropdown-links {
    width: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dropdown-menu {
    display: none;
}

.show {display: block;}

/*Responsio media screen*/
@media screen and (max-width: 1390px) {
    .dropdown-btn {
        display: none;
    }

    .dropdown {
        width: 2.8125rem;
    }

    .dropdown-btn-mobile {
        display: block;
    }
}

/* MOBILE cell phone */
@media screen and (max-width: 1100px) {
    
    .dropdown {
        width: 6.25rem;
    }

    .logo-drop {
        position: relative;
        width: 100vw;
        margin: 0 auto !important;
    }

    .close-btn svg {
        width: 20px;
        position: absolute !important;
        top: 50px;
        color: var(--color-primary) !important;
    }

    .dropdown-btn-mobile {
        margin: 0 1.875rem;
    }

    .dropdown-links {
        display: none;
    }

    /*Menu links*/
    .dropdown-menu {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .dropdown-category {
        width: 101vw;
        position: absolute;
        color: var(--color-primary);
        position: absolute;
        padding: 30px 0 0 0;
        margin-top: -30px;
        top: 0;
        left: 0;
        z-index: 1;

        background-image: linear-gradient(var(--color-secondary), var(--color-gradient));
        /*
        margin: 0;*/
        border-radius: unset;
    }
    
    .dropdown-category h3 {
        display: none;
    }
    
    .dropdown-category a {
        font-size: 1.3rem;
        margin: 2rem auto;
        color: var(--color-primary);
    }

    .dropdown-category a:hover {
        color: #fff !important;
    }

    .button-drop {
        display: grid;
        justify-content: center;
    }

    .dropdown-menu .drop-course {
        font-weight: 400;
        color: #fff !important;
        background-color: var(--button-dropdown);
        
        padding: 0.9375rem 1.875rem;
        margin-top: 0.625rem;
        margin-bottom: 0.9375rem;
        
        border-radius: 1.875rem;
        border: none;
        background-image:unset;
        background-size: unset;
    }

    .dropdown-menu .drop-login {
        font-weight: 700;
        color: #fff !important;
        background-color: unset;
        
        padding: 0.75rem 2rem;
        margin-top: 0.625rem;
        margin-bottom: 4.9375rem;
        
        border-radius: 1.875rem;
        border: 2px solid #fff;
        background-image:unset;
        background-size: unset;
    }

     /*Menu categorias mobile*/
     .dropbtn1 {
        font-size: 1.3rem !important;
        font-family: 'Nunito', sans-serif !important;
        font-weight: 700;
        color: white;
        background-color: unset;
        display: block;
        margin: 0 auto 1rem auto;
        border: unset;
        cursor: pointer;
    }

    .category-mobile-content {
        display: none;
        background-color: var(--color-gradient);
        min-width: 16rem;
        overflow: auto;
        z-index: 1;
    }
      
    .category-mobile-content a {
        font-weight: 400;
        color: var(--color-primary);
        padding: 0.75rem 1rem;
        margin: 0.01rem auto;
        text-decoration: none;
        display: block;
    }
      
      .show {display: block;}
}