.header {
    width: 100%;
    height: 510px;
    background-image: url(../assets/back-top-home.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.header-info {
    padding: 0 5px;
    position: absolute;
}

/* Conteúdo da banner */
.header-info h1 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 90px;
    color: var(--color-primary);

    margin-top: 8rem;
}

.header-info p {
    width: max-content;
    
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--color-primary);

    margin-top: 0.5rem;
    margin-bottom: 0.625rem;
}

.profile-access-banner {
    font-size: 1rem !important;
    margin-top: 1.1rem !important;
}

.profile-access-banner a {
    font-weight: 700;
}

.profile-access-banner a:hover {
    text-decoration: revert;
}

/* Ilustração banner */
.ilustration-banner img {
    width: 455px;
    margin: 10rem 0 -7rem 42.7rem;
}
