/*###### Barra de navegação ######*/
.navbar {
    background-color: unset;
    position: absolute;
}

.navGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: 2rem;
    margin-left: 4.1775rem;
}


/*###### Logo ######*/
.navbar .logo {
    display: flex;
    justify-content: center;
    margin-right: 6.5625rem;
}

.navbar .logo svg {
    width: 7rem;

}

.logo-category {
    display: flex;
    justify-content: space-around;
}

/*###### Links Nav ######*/


.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-links {
    display: flex;
    margin-top: 16px;
    margin-left: 124px;
}
.nav-links .btn a {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-primary); 
    margin-right: 65px;
    transition: 2s ease;
}

.nav-links .btn a:hover {
    color: #fff;
    font-weight: 700;
}

.active_menu_item {
    border-bottom: 2px solid var(--branco);
    border-radius: 0 0 3px 3px;
}

.nav-search {
    margin-top: 15px;
    margin-left: 50px;
    width: 25px;
    display: flex;
}